# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional stylelint cache
.stylelintcache

# dotenv environment variables file
.env
.env.test
.env.production

# Serverless directories
.serverless/

# VS Code directories
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE directories
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.zed

# MacOS files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Linux trash folder which might appear on any partition or disk
.Trash-*

# JetBrains IDEs
.idea/
*.iml
